<p id="notice"><%= notice %></p>

<h1>Foodtrucks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Foodtype</th>
      <th>Logo</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foodtrucks.each do |foodtruck| %>
      <tr>
        <td><%= foodtruck.name %></td>
        <td><%= foodtruck.location %></td>
        <td><%= foodtruck.foodtype %></td>
        <td><%= foodtruck.logo %></td>
        <td><%= foodtruck.rating %></td>
        <td><%= link_to 'Show', foodtruck %></td>
        <td><%= link_to 'Edit', edit_foodtruck_path(foodtruck) %></td>
        <td><%= link_to 'Destroy', foodtruck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foodtruck', new_foodtruck_path %>
