<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @foodtruck.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @foodtruck.location %>
</p>

<p>
  <strong>Foodtype:</strong>
  <%= @foodtruck.foodtype %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @foodtruck.logo %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @foodtruck.rating %>
</p>

<%= link_to 'Edit', edit_foodtruck_path(@foodtruck) %> |
<%= link_to 'Back', foodtrucks_path %>
