<!DOCTYPE html>
<html>
  <head>
    <title>FindiningVthree</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, name: 'google_maps', content: 'AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg' %>
  </head>

  <body>


    <%= yield %>
  </body>
</html>
